.Device {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;

    .Loading {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0.5rem;
    }

    .DeviceInfo {
        margin: 0.5rem;
    }

    .Player {
        width: 100%;
        height: 100%;
        display: flex;
        position: relative;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        outline: none;

        .Canvas {
            height: 100%;
            width: 100%;
            object-fit: contain;
        }


    }
}