.Device {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;

    * {
        user-select: none;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
    }

    .Loading {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0.5rem;
    }

    .DeviceInfo {
        margin: 0.5rem;
    }

    .DeviceInner {
        width: 100%;
        height: 100%;
        display: flex;
        position: relative;
        align-items: center;
        justify-content: flex-start;
        overflow: hidden;

        .DeviceSidebar {
            margin: 0.5rem;
            margin-top: 0;
            width: fit-content;
            height: calc(100% - 0.5rem);
            display: flex;
            position: relative;
            transition: 0.2s;

            .Sidebar {
                width: 56px;
                height: 100%;
                transition: 0.2s;

                .SidebarContent {
                    width: 100%;
                    height: 100%;

                    .SidebarButton {
                        width: 100%;
                        justify-content: flex-start;

                        .SbText {
                            width: fit-content;
                            text-wrap: nowrap;
                        }
                    }
                }

                &.Expand {
                    width: 230px;
                }
            }

            &.hide {
                margin-right: 0;
                pointer-events: none;

                .Sidebar {
                    width: 0;
                    padding-right: 0;
                    padding-left: 0;
                }
            }
        }

        .DeviceTools {
            $maxWidth: 70%;
            width: 50%;
            max-width: $maxWidth;
            height: calc(100% - 0.5rem);
            margin-bottom: 0.5rem;
            transition: 0.2s;
            position: relative;
            flex: none;

            &[data-sb-lv="1"] {
                max-width: calc($maxWidth - 56px - 1rem);
            }

            &[data-sb-lv="2"] {
                max-width: calc($maxWidth - 230px - 1rem);
            }

            .ResizeHandle {
                width: 8px;
                height: 100%;
                position: absolute;
                right: 0;
                top: 0;
                background-color: var(--gray-6);
                border-radius: 0px 8px 8px 0px;
                cursor: col-resize;
                opacity: 0;
                transition: 0.2s;

                &:hover {
                    opacity: 1;
                }
            }

            .DeviceToolsSection {
                width: 100%;
                height: 100%;
                display: flex;
                flex-direction: column;

                &::before {
                    background-color: rgba(22, 22, 22, 0.7);
                }

                .DeviceToolsHeader {
                    margin-bottom: var(--card-padding);
                }

                .DeviceToolsContent {
                    width: 100%;
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                }
            }

            &.Resizing {
                transition: none;

                .ResizeHandle {
                    opacity: 1;
                }
            }

            &.Floating {
                $maxWidth: 90%;
                position: absolute;
                top: 0;
                left: 0.5rem;
                z-index: 12;
                max-width: $maxWidth;

                &[data-sb-lv="1"] {
                    left: calc(56px + 1rem);
                    max-width: calc($maxWidth - 56px - 1rem);
                }

                &[data-sb-lv="2"] {
                    left: calc(230px + 1rem);
                    max-width: calc($maxWidth - 230px - 1rem);
                }
            }

            &.FullScreen {
                width: calc(100% - 1rem) !important;
                height: calc(100% - 0.5rem) !important;
                max-width: 100% !important;
                right: 0.5rem;
                left: unset;

                &[data-sb-lv="1"] {
                    width: calc(100% - 56px - 1.5rem) !important;
                }

                &[data-sb-lv="2"] {
                    width: calc(100% - 230px - 1.5rem) !important;
                }

                .ResizeHandle {
                    display: none;
                }
            }


        }
    }

    .Player {
        width: 100%;
        height: 100%;
        display: flex;
        position: relative;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        outline: none;

        .ShowControls {
            position: absolute;
            right: 0;
            top: 0;
            z-index: 9;
            background-color: rgba(21, 22, 22, 0.8901960784);
            padding: 0.7rem 0.2rem;
            border-radius: 6px 0 0 6px;
            display: flex;
            border-bottom: 1px solid var(--gray-5);
            border-left: 1px solid var(--gray-5);
            border-top: 1px solid var(--gray-5);
            opacity: 0.5;
            backdrop-filter: blur(30px);
            cursor: pointer;
            color: #fff;
            transition: opacity 0.15s ease-in-out;
            align-items: center;
            justify-content: center;

            &:hover {
                opacity: 1;
            }
        }

        .Canvas {
            height: 100%;
            width: 100%;
            object-fit: contain;
        }

        .TouchArea {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 3;
        }

        .Controls {
            position: absolute;
            top: 0;
            left: var(--position);
            z-index: 9;

            &.Overflow {
                opacity: 0;
                visibility: hidden;
                pointer-events: none;
                left: unset;
                right: 0;
                transition: 0.2s;

                &.Show {
                    opacity: 1;
                    visibility: visible;
                    pointer-events: auto;
                    right: 8px;
                }
            }

            &::before {
                background-color: #151616e3;
            }
        }

        .KeyboardIndicator {
            position: absolute;
            right: 1rem;
            bottom: 0;
            color: #fff;
            z-index: -1;
            opacity: 0.2;
        }
    }
}