.Welcome {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    img {
        width: 250px;
        margin-bottom: 1rem;
        user-select: none;
        pointer-events: none;
    }

    .Manual {
        display: flex;
        align-items: center;
        gap: 0.2rem;
        margin-top: 5rem;
    }

    .Link {
        margin-top: 1rem;
    }

    .License {
        margin-top: 0.4rem;
        font-size: 10px;
    }

    .Nacho {
        opacity: 0.2;
    }
}